.menuItem {
    padding: 10px!important;
    margin-bottom: 5px!important;
}
.menuItem:hover {
    background-color: #0044E9!important;
    color: #fff!important;
}

.Mui-selected {
    background-color: #0044E9!important;
    color: #fff!important;
}

.espacoClass{
    margin-left: 5px;
    font-size: 1.2em;
}